@page "/settings"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navigationManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>

</head>

<body>
    <div class="container">
        <header>
            <div class="nav-logo">
                <img src="img/pngwing.com.png" alt="logo pomodoro">

            </div>
            <div class="nav-logo-name">
                <h1>POMODORO APP</h1>
            </div>
        </header>
        <nav class="menu">
            <ul class="nav-links">
                <li> <a href="/">Home</a></li>
                <li> <a href="#">Settings</a></li>
            </ul>
        </nav>
        <!-- ////// -->
        <main>
            <EditForm Model="@pomodoroSettings" OnValidSubmit="FormSubmit" class="form">
                <div class="range-wrap">
                    <label>Pomodoro Duration = @pomodoroSettings.PomodoroDuration</label>
                    <div class="range-value" id="rangeV"></div>
                    <input id="range" type="range" min="1" max="60" step="1" @bind-value="pomodoroSettings.PomodoroDuration">
                </div>
                <div class="range-wrap">
                    <label>Short Break = @pomodoroSettings.ShortBreak</label>
                    <div class="range-value" id="rangeV"></div>
                    <input id="range" type="range" min="1" max="15" step="1" @bind-value="pomodoroSettings.ShortBreak">
                </div>
                <div class="range-wrap">
                    <label>Long Break = @pomodoroSettings.LongBreak</label>
                    <div class="range-value" id="rangeV"></div>
                    <input id="range" type="range" min="15" max="60" step="1" @bind-value="pomodoroSettings.LongBreak" />
                </div>
                <div class="form-btn">
                    <button type="submit">Submit</button>

                </div>
                <DataAnnotationsValidator />
                <ValidationSummary style="color: white; font-size: 1rem;" />
            </EditForm>

        </main>

        <footer>
            <div class="footer-logo">
                <img src="img/sys.png" alt="logo sistema">
            </div>

            <div class="footer-text">
                <p>David Softwares</p>
            </div>

        </footer>
    </div>

</body>

</html>

@code {

    private PomodoroSettings pomodoroSettings = new PomodoroSettings();

    private async Task FormSubmit()
    {
        var json = System.Text.Json.JsonSerializer.Serialize(pomodoroSettings);
        await localStorage.SetItemAsync("pomodoroSettings", json);
        navigationManager.NavigateTo("/");
    }


    protected override async Task OnInitializedAsync()
    {
        var json = await localStorage.GetItemAsync<string>("pomodoroSettings");

        if (json != null)
        {
            pomodoroSettings = System.Text.Json.JsonSerializer.Deserialize<PomodoroSettings>(json);
        }

    }
}
